.basketContainer {
  position: relative;
  cursor: pointer;
  margin-top: 0.45rem;
}

.basketQuantity {
  background-color: #0dcaf0 !important;
  height: 22px;
  width: 22px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: 0px;
  right: 1.57rem;
  font-size: 12px;
}

.pumpCartQuantity {
  animation: pumping 300ms ease-out;
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
